/* 567px */
@media screen and (min-width: 567px) {
  .container {
    max-width: 540px;
  }
}
/* 768px */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* 992px */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .form {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%
      ),
      url("../../images/form-bg.jpg");
  }

  .custom-form {
    width: 100%;
  }
  .form-control input {
    width: 100%;
  }
}
/* 1200px */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* 1400px */
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
